<launch>

  <include file="$(find model)/launch/rviz.launch" />

  <include file="$(find gazebo_ros)/launch/empty_world.launch" />
  
  <node pkg="gazebo_ros" type="spawn_model" name="model" args="-urdf -model joint_m -param robot_description"  />
  
  <node name="fake_joint_calibration" pkg="rostopic" type="rostopic" args="pub /calibrated std_msgs/Bool true" />
</launch>