<launch>
  <!-- Import URDF file -->
  <param name="robot_description" command="$(find xacro)/xacro $(find model)/xacro/model/my_arm.xacro" />

  <!-- Start rviz -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find model)/rviz/display_model.rviz" />

  <!-- Publish machine joint status information -->
  <!-- <node pkg="joint_state_publisher" type="joint_state_publisher" name="joint_state_publisher" output="screen" /> -->
  <!-- Publish robot linkage coordinates -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" output="screen" />

  <!-- Verify if the model is correct -->
  <!-- <node name="joint_state_publisher_gui" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" /> -->
</launch>