<launch>
  <!-- 导入urdf文件 -->
  <param name="robot_description" command="$(find xacro)/xacro $(find model)/xacro/model/my_arm.xacro" />

  <!-- 启动rviz -->
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find model)/rviz/display_model.rviz" />

  <!-- 发布机器关节状态信息 -->
  <!-- <node pkg="joint_state_publisher" type="joint_state_publisher" name="joint_state_publisher" output="screen" /> -->
  <!-- 发布机器人连杆坐标 -->
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" output="screen" />

  <!-- 验证模型是否真确 -->
  <!-- <node name="joint_state_publisher_gui" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" /> -->
</launch>