<robot name="arm_dyn" xmlns:xacro="http://wiki.ros.org/xacro">

    <!-- 机械臂参数 -->
    <xacro:property name="pi" value="3.14159265358979" />
    <xacro:property name="joint_lower" value="${-pi}" />
    <xacro:property name="joint_upper" value="${pi}" />
    <xacro:property name="M5210_effort" value="15" />
    <xacro:property name="M5210_velocity" value="1.047197551" />
    <xacro:property name="M4010_effort" value="4" />
    <xacro:property name="M4010_velocity" value="1.047197551" />
    <xacro:property name="fixed_block_high" value="0.1" />
    <xacro:property name="fixed_block_length" value="2" />
    <xacro:property name="fixed_block_wide" value="2" />

    <!-- 建立基点连杆 -->
    <link name="base_footlink">
        <!-- 可视化 -->
        <visual>
            <!-- 外观 -->
            <geometry>
                <sphere radius="0.00001" />   <!-- 球体 -->
            </geometry>
        </visual>
    </link>

    <xacro:macro name="Box_inertial_matrix" params="m l w h">
       <inertial>
            <mass value="${m}" />
            <inertia ixx="${m*(h*h + l*l)/12}" ixy = "0" ixz = "0"
                iyy="${m*(w*w + l*l)/12}" iyz= "0"
                izz="${m*(w*w + h*h)/12}" />
       </inertial>
   </xacro:macro>

    <!-- 固定块 -->
    <link name="fixed_block_link">
        <!-- 可视化 -->
        <visual>
            <!-- 外观 -->
            <geometry>
                <box size="${fixed_block_length} ${fixed_block_wide} ${fixed_block_high}" />   <!-- 导入外部模型 -->
            </geometry>
            <origin xyz="0 0 0" rpy="0 0 0" />    <!-- 连杆偏移量 -->
            
            <!-- 材质 -->
            <material name="">
                <color rgba="0.8 0.8 0.8 1" />    <!-- 颜色 -->
            </material>
        </visual>

        <!-- 碰撞矩阵 -->
        <collision>
            <!-- 外观 -->
            <geometry>
                <box size="${fixed_block_length} ${fixed_block_wide} ${fixed_block_high}" />
            </geometry>
            <origin xyz="0 0 0" rpy="0 0 0" />
        </collision>

        <!-- 惯性矩阵 -->
        <xacro:Box_inertial_matrix m="1000" l="${fixed_block_length}" w="${fixed_block_wide}" h="${fixed_block_high}" />
    </link>

    <!-- 建立固定块与位置基点的连接关节 -->
    <joint name="fixed_block_joint" type="fixed"> <!-- 关节标签 -->
        <parent link="base_footlink" /> <!-- 父级标签 -->
        <child link="fixed_block_link" /> <!-- 子级标签 -->
        <origin xyz="0 0 ${fixed_block_high/2}" rpy="0 0 0" /> <!-- 偏移量标签 -->
    </joint>

    <gazebo reference="fixed_block_link">
        <material>Gazebo/Grey</material>
    </gazebo>
</robot>