<robot name="arm_dyn" xmlns:xacro="http://wiki.ros.org/xacro">

    <!-- Mechanical arm parameters -->
    <xacro:property name="pi" value="3.14159265358979" />
    <xacro:property name="joint_lower" value="${-pi}" />
    <xacro:property name="joint_upper" value="${pi}" />
    <xacro:property name="M5210_effort" value="15" />
    <xacro:property name="M5210_velocity" value="1.047197551" />
    <xacro:property name="M4010_effort" value="4" />
    <xacro:property name="M4010_velocity" value="1.047197551" />
    <xacro:property name="fixed_block_high" value="0.1" />
    <xacro:property name="fixed_block_length" value="2" />
    <xacro:property name="fixed_block_wide" value="2" />

    <!-- create a base link -->
    <link name="base_footlink">
        <!-- visualization -->
        <visual>
            <!-- appearance -->
            <geometry>
                <sphere radius="0.00001" />   <!-- sphere -->
            </geometry>
        </visual>
    </link>

    <xacro:macro name="Box_inertial_matrix" params="m l w h">
       <inertial>
            <mass value="${m}" />
            <inertia ixx="${m*(h*h + l*l)/12}" ixy = "0" ixz = "0"
                iyy="${m*(w*w + l*l)/12}" iyz= "0"
                izz="${m*(w*w + h*h)/12}" />
       </inertial>
   </xacro:macro>

    <!-- Fixed block -->
    <link name="fixed_block_link">
        <!-- visualization -->
        <visual>
            <!-- appearance -->
            <geometry>
                <box size="${fixed_block_length} ${fixed_block_wide} ${fixed_block_high}" />   <!-- Import external models -->
            </geometry>
            <origin xyz="0 0 0" rpy="0 0 0" />    <!-- Linkage offset -->
            
            <!-- texture of material -->
            <material name="">
                <color rgba="0.8 0.8 0.8 1" />    <!-- colour -->
            </material>
        </visual>

        <!-- Collision matrix -->
        <collision>
            <!-- appearance -->
            <geometry>
                <box size="${fixed_block_length} ${fixed_block_wide} ${fixed_block_high}" />
            </geometry>
            <origin xyz="0 0 0" rpy="0 0 0" />
        </collision>

        <!-- Inertia matrix -->
        <xacro:Box_inertial_matrix m="1000" l="${fixed_block_length}" w="${fixed_block_wide}" h="${fixed_block_high}" />
    </link>

    <!-- Establish a connection joint between a fixed block and a positional base point -->
    <joint name="fixed_block_joint" type="fixed"> 
        <parent link="base_footlink" />           
        <child link="fixed_block_link" />         
        <origin xyz="0 0 ${fixed_block_high/2}" rpy="0 0 0" />  
    </joint>

    <gazebo reference="fixed_block_link">
        <material>Gazebo/Grey</material>
    </gazebo>
</robot>